@using PremptyWorkSpace.Models;

@{
    ViewBag.Title = "Gerente";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="~/Menu/Select"><i class="shortcut-icon icon-user"></i><span>Empleado</span> </a></li>
                <li><a href="~/Control/Index"><i class="shortcut-icon icon-dashboard"></i><span>Control de asistencias</span> </a></li>
                <li><a href="~/Estadistica/Index"><i class="shortcut-icon  icon-signal"></i><span>Estadisticas</span> </a></li>


            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div id="target-1" class="widget">
                <div class="widget-content">
                    @using (Html.BeginForm("Visual", "Estadistica"))
                    {
                        <div class="shortcuts">
                            <div class="display-label">
                                <ul>
                                    <h3>Información por motivo de ausencia</h3>
                                </ul>
                            </div>

                            <ul>

                                @Html.DropDownList("IdArea", null, "Seleccione Area..", null)
                                @Html.DropDownList("IdMes", null, "Seleccione Mes..", null)
                                @Html.DropDownList("IdMotivo", null, "Seleccione Motivo..", null)

                                <!-- Invoca a la action para visualizar el grafico -->

                                <div>
                                    <input type="submit" name="Visualizar" value="Filtrar" class="btn btn-danger ingresar" />
                                </div>
                            </ul>
                        </div>
                        <!-- /shortcuts -->
                    }
                </div>
            </div>
        </div>
    </div>
</div>


