
<!DOCTYPE HTML>
  @using PremptyWorkSpace.Models;
  @using System.Data;

@{
    ViewBag.Title = "Gerente";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<html>
<head>

<div class="widget">
   <div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="~/Menu/Select"><i class="shortcut-icon icon-user"></i><span>Empleados</span> </a></li>
                <li><a href="~/Control/Index"><i class="shortcut-icon icon-dashboard"></i><span>Control de Asistencia</span> </a></li>
                <li><a href="~/Estadistica/Index"><i class="shortcut-icon icon-signal"></i><span>Estadisticas</span> </a></li>


            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
   </div>
</div>


@section javascript
{
    <!--Load the AJAX API-->
    <script type="text/javascript" src="~/js/pieChart.js")></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });


        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                @{int count = 0;}
                @foreach (DataRow row in ((DataTable)ViewBag.data).Rows)
                {
                    if (count>0)
                    {
                        @Html.Raw(",['"+row[0]+"',"+row[1]+"]");
                    }
                    else
                    {
                        @Html.Raw("['" + row[0] + "'," + row[1] + "]");
                    }
                    count++;
                }
            ]);

            // Set chart options
            var options = {
                'title': 'Grafico de Estadisticas',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

}
    </head>

    <body>
        <div id="chart_div"></div>

     </body>


</html>
