@model PremptyWorkSpace.Models.Feriados

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="account-container register">
    <div class="content clearfix">
        <div class="login-fields">
            
            <h4>¿Esta seguro que desea eliminar el feriado?</h4>
            <div class="control-group">
                @Html.DisplayNameFor(model => model.Fecha)
                <div class="alert alert-info">
                    @Html.DisplayFor(model => model.Fecha)
                </div>
            </div>
            <div class="control-group">
                @Html.DisplayNameFor(model => model.Descripcion)
                <div class="alert alert-info">
                    @Html.DisplayFor(model => model.Descripcion)
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {          
            <div class="form-actions">
                <a href="~/Feriados/Index">
                    <input type="button" value="Volver" class="btn btn-danger ingresar" /></a>
                <input type="submit" value="Eliminar" class=" btn btn-danger ingresar" />
            </div>
        }
    </div>
</div>
