@model PremptyWorkSpace.Models.MotivoLicencia

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<div class="account-container register">
    <div class="content clearfix">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="login-fields">
                <h2>Crear Motivo</h2>
                <div class="field">
                    @Html.LabelFor(model => model.Descripcion)

                    @Html.TextBoxFor(model => model.Descripcion, new { @placeholder = "Ingrese la descripcion",@required = "true", maxlength = "30", type = "text" })
            
                </div>
            </div>
            <div class="form-actions">
                <a href="~/MotivoLicencia/Index">
                    <input type="button" value="Volver" class="btn btn-danger ingresar" /></a>
                <input id="Ingresar" type="submit" value="Crear motivo" class=" btn btn-danger ingresar" />

            </div>
            
        }
    </div>
</div>

