@using PremptyWorkSpace.Models;

@model IEnumerable<Areas>

@{
    ViewBag.Title = "Gerente";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li class="active"><a href="~/Menu/Select"><i class="shortcut-icon icon-user"></i><span>Empleado</span> </a></li>
                <li><a href="~/Control/Index"><i class="shortcut-icon icon-dashboard"></i><span>Control de asistencias</span> </a></li>
                <li><a href="~/Estadistica/Index"><i class="shortcut-icon  icon-signal"></i><span>Estadisticas</span> </a></li>


            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            <div id="target-1" class="widget">
                <div class="widget-content">
                    <div class="shortcuts">
                        <ul>
                            <h3>Información de los empleados dentro de la empresa</h3>
                        </ul>
                        <ul>
                            @foreach (var area in Model)
                            { 
              
                                <a href="~/Empleado/Details/@area.IdArea" class="shortcut"><i class="shortcut-icon icon-user"></i><span
                                    class="shortcut-label">@area.Descripcion</span> </a>
                            }

                        </ul>
                    </div>
                    <!-- /shortcuts -->
                </div>
                <!-- /widget-content -->
            </div>
        </div>
    </div>
</div>


