@model PremptyWorkSpace.Models.Usuarios

@{
    ViewBag.Title = "Gerente";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="~/Menu/Select"><i class="shortcut-icon icon-user"></i><span>Empleado</span> </a></li>
                <li><a href="~/Control/Index"><i class="shortcut-icon icon-dashboard"></i><span>Control de asistencias</span> </a></li>
                <li><a href="~/Estadistica/Index"><i class="shortcut-icon  icon-signal"></i><span>Estadisticas</span> </a></li>


            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<div class="widget">
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="shortcuts">
           <div class="display-label">
         
             
            </div>
            <div class="display-field">
            
            </div>

        </div>
        <!-- /shortcuts -->
    </div>
    <!-- /widget-content -->
</div>
