@{
    ViewBag.Title = "Nosotros";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Prempty WorkSpace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/social-icons.css" rel="stylesheet" />
    <link href="~/css/iphone-style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min2.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/img/icons/favicon5.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/img/icons/favicon4.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/icons/favicon3.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/icons/favicon2.png">
    <link rel="apple-touch-icon-precomposed" href="~/img/icons/favicon1.png">
</head>

<body>

    <!-- Header -->
    <div class="container">
        <div class="header row">
            <div class="logo span4">
                <h2><a href="">Produkta</a></h2>
            </div>
            <div class="tel-skype span8">
                <p>
                    <i class="icon-phone-sign"></i>Telefono: 011 1234-1234 <span class="pipe">|</span> <i class="icon-envelope"></i>Email: Prempty@domain.com
		
                </p>
            </div>
        </div>
    </div>

    <!-- Product Showcase -->
    <div class="product-showcase">
        <div class="product-showcase-pattern">
            <div class="container">
                <div class="row">
                    <div class="span12 product-background">
                        <div class="row">
                            <div class="span5 product-image">
                                <img src="~/img/premptyp.png" alt="Prempty" />
                            </div>
                            <div class="span7 product-title">
                                <h1><strong>Prempty WorkSpace</strong> esta hecha para mejorar tu producción</h1>
                                <div class="product-description">
                                    <h3>¿En qué consiste la aplicación?</h3>
                                    <p>Consiste en mejorar la productividad de una pyme a partir de una eficiente gestión de recursos.</p>
                                    <h3>¿A quién esta destinada?</h3>
                                    <p>Esta destinada a toda empresa que posean empleados para su línea de producción .</p>
                                    <h3>¿Que problemas solucionamos?</h3>
                                    <p>
                                        <ul>
                                            <li>Ausentismos imprevistos</li>
                                            <li>Hora no gestionadas</li>
                                            <li>Información de empleados repetida</li>
                                        </ul>
                                    </p>
                                    <h3>¿Qué nos identifica?</h3>
                                    <p>
                                        <ul>
                                            <li>Identificar las posibles ausencias de empleados</li>
                                            <li>Gestión simple de las horas productivas</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="call-to-action"><a href="" class="buy-it-now"><i class="icon-cloud-download"></i>Descargar</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="container">

        <div class="row">
            <div class="span12">
                <!-- about us -->
                <div class="about-us_2">
                    <h3>Nosotros</h3>
                    <h5>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

    <footer>
        <div class="container">
            <div class="row">
             
                <div class="span12 contact-us">
                    <h3>Contact Us</h3>
                    <form action="assets/contact.php" method="post">
                        <input type="text" name="name" class="name" placeholder="Name">
                        <input type="text" name="email" class="email" placeholder="Email">
                        <textarea name="message" placeholder="Message"></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
      
            <div class="row">
                <div class="span12 copyright">
                    <p>Copyright &copy; 2013 - Produkta - Template by <a href="http://azmind.com" target="_blank">Azmind.com</a></p>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>


    <!-- Javascript -->
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/js/jquery.backstretch.min.js"></script>
    <script src="~/js/jquery.tweet.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/iphone-scripts.js"></script>

</body>

</html>


